spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/order_db
    username: ${POSTGRES_USER:order_user}
    password: ${POSTGRES_PASSWORD:order_pwd}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  pulsar:
    client:
      service-url: pulsar://${PULSAR_HOST:localhost}:6650
    producer:
      name: order-created-producer

server:
  shutdown: graceful
  port: 8081

# Swagger / OpenAPI
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha

management:
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

logging:
  level:
    com.eventhive: INFO
    org.springframework.pulsar: INFO
