spring:
  application:
    name: inventory-service
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/inventory_db
    username: ${POSTGRES_USER:inventory}
    password: ${POSTGRES_PASSWORD:inventory}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  pulsar:
    client:
      service-url: pulsar://${PULSAR_HOST:localhost}:6650

server:
  shutdown: graceful
  port: 8083

management:
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

logging:
  level:
    com.eventhive: INFO
